
<h1> About </h1>
<p>
	<%= link_to "AccelSafety", "http://onemonthrails.com" %> is a start accelerator focused on promoting innovation for the public safety space. Let's create new things that will help police, fire, medical, and other emergency responders make our communities safer!
</p>

